@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  src: 'local("Helvetica Neue"), url("../fonts/HelveticaNeue.ttf") format("truetype")'; }

.heavy {
  font-weight: 600 !important; }

body {
  font-family: "HelveticaNeue", HelveticaNeue, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2vmin;
  color: #ffffff; }

strong {
  font-family: "HelveticaNeue", HelveticaNeue, sans-serif;
  font-weight: 600;
  font-style: normal; }

em {
  font-family: "HelveticaNeue", HelveticaNeue, sans-serif;
  font-weight: 300;
  font-style: italic; }
